@media (max-width: 1400px){
    .community-intro{
        .subtitle{
            font-size: 80px;
        }
    }

    .footer .item-last{
        margin-left: 0;
    }
}

@media (max-width: 1200px){
    .community-intro{
        .img-employees{
            margin-top: -80px;
        }

        .subtitle{
            font-size: 60px;
        }

    }
}


@media (max-width: 1024px){
    .community-intro__inner
    {
        margin-top: -80px;
    }

    .community-intro__footer{
        display: none;
    }
}


@media (max-width: 992px){
    .community-intro
    {
        min-height: 0;
        &__header{
            color: black;
    
            .link{
                color: white;
            }
        }

        &__form{
            .inputs{
                .item{
                    font-size: 16px;
                    padding: 12px 10px;
                }
            }
        }

        &__footer{
            ul{
                li{
                    margin-right: 15px;
                }
            }
        } 


        .img-employees{
            margin-top: -60px;
        }

        .subtitle{
            font-size: 52px;
        }

        .search-title{            
            font-size: 40px;
        }
    }

    .business-power{
        &__row{
            justify-content: center;
            margin: 45px 0;
        }
        &__inner{
            margin: 50px 0;
        }

        h3.title{
            margin-top: 0;
        }
    }
    .header__options{
        color: white;
    }

    .burger.black.fixed{
        z-index: 101;
        span,
        span::after,
        span::before{
            background-color: white;
        }

        span{
            height: 0;;
        }
    }

    .stories{
        min-height: 0;
        padding-bottom: 60px !important;
    }
}


@media (max-width: 768px){
    .community-intro{
        min-height: 0;
        &__inner{
            margin-top: 0px;
        }
        .img-employees{
            margin-top: -40px;
        }

        .subtitle{
            font-size: 45px;
        }

        .search-title{            
            font-size: 36px;
            margin: 20px 0;
        }

        .form{
            .submit{
                margin: 40px 0;
            }
        }
    }

    h3.title{
        font-size: 50px;
    }
}

@media (max-width: 700px){
    .community-intro{
        .img-employees{
            margin-top: -20px;
        }
        &__footer{
            display: none;
        }

        &__form{
            .submit{
                width: 100%;
                margin: 20px 0;
            }
        }
    }
}


@media (max-width: 576px){
    .community-intro{
        &__inner{
            margin-top: 0px;
            padding-bottom: 30px;
        }
        &__form{
            .inputs{
                .item{
                    width: 100%;
                    flex: 0 0 100%;
                    margin-bottom: 10px;
                }
            }

            .submit{
                background: white;
                color: #dd2a1b;
                font-size: 24px;
                padding: 10px;

            }
        }

        &__intro{
            .subtitle{
                font-size: 36px;
            }

            .search-title{
                font-size: 30px;
            }
        }

        &__footer{
            bottom: 15px;
        }    
    }

    .business-power{
        &__row{
            margin: 10px 0;
            justify-content: center;
        }

        &__inner{
            margin: 20px 0;
        }

        &__title{
            font-size: 60px;
        }

        .btn{
            padding: 12px 24px;
            font-size: 16px;
        }
    }

    section.info{
        .info__text
        {
            font-size: 24px;
        }
    }

    .stories__card .tags-block .btn{
        font-size: 16px;
        padding: 6px 12px;
    }

    
    h3.title{
        font-size: 40px;
        margin-top: 50px;
    }

    
}



@media (max-width: 400px)
{
  .community-intro .subtitle{
    font-size: 30px;
  }
  
  .community-intro .search-title{
    font-size: 22px;
  }
  
  .community-intro__form .submit{
    font-size: 24px;
  }
  
  section.info .info__text{
    font-size: 18px;
  }
  
  h3.title{
    font-size: 30px;
  }
}